---
  const { url, title } = Astro.props;
---

<a href={url}>{title}</a>

<style>
  a {
    display: inline-block;
    padding: 0.5em;
    text-decoration-line: none !important;
    font-size: 1.2em;
  }
</style>